n8n/Motor de Facturación y Suscripciones (SaaS).json
{
  "name": "Motor de Facturación y Suscripciones (SaaS)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -16
      ],
      "id": "46a8b745-86cc-4693-88e9-f3792b104e1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subscriptions",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "canceled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ],
      "id": "7f2d434a-f763-48c1-bb00-c70546b25e5b",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "nh9o2Fkj6jhRTzlj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "http://host.docker.internal:8000/api/v1/calculate-billing-actions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"subscriptions\": [ { \"user_id\": \"{{ $json.user_id }}\", \"email\": \"{{ $json.email }}\", \"plan_type\": \"{{ $json.plan_type }}\", \"status\": \"{{ $json.status }}\", \"trial_ends_at\": \"{{ $json.trial_ends_at }}\", \"next_billing_at\": \"{{ $json.next_billing_at }}\", \"last_payment_attempt\": \"{{ $json.last_payment_attempt }}\" } ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -16
      ],
      "id": "bcf03146-257c-4026-ab22-207e41b5f65d",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "9c4U7sVZB93jlc4I",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -240
      ],
      "id": "887a352a-f3e5-454f-9fb5-728fc2cf2f27",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.actions[0].action }}",
                    "rightValue": "send_trial_reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5904d7d8-df78-42b1-b81e-ad0e729ad26d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8eddb68f-e08e-4f9d-a81a-0aabc95ac780",
                    "leftValue": "={{ $json.actions[0].action }}",
                    "rightValue": "process_trial_conversion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90b7c913-5dd4-4ddc-9319-4a58517b11af",
                    "leftValue": "={{ $json.actions[0].action }}",
                    "rightValue": "process_renewal_payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e9d538e-6546-42af-ad5d-c06cb8af8fbb",
                    "leftValue": "={{ $json.actions[0].action }}",
                    "rightValue": "send_dunning_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        720,
        -256
      ],
      "id": "7c3e371a-c1af-4c85-b4a7-7e732b58f70e",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bZm79HDvkHFmqX9m",
          "mode": "list",
          "cachedResultUrl": "/workflow/bZm79HDvkHFmqX9m",
          "cachedResultName": "Envió de Notificación Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.actions[0].user_id }}",
            "template_name": "={{ $json.actions[0].action }}",
            "email": "={{ $('Get many rows').item.json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2688,
        176
      ],
      "id": "acc7010f-e43b-42ff-a4eb-b51b402e85cd",
      "name": "Call 'Envió de Notificación Sub-Workflow'1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.actions[0].user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_billing_at",
              "fieldValue": "={{ new Date(new Date().setMonth(new Date().getMonth() + 1)).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        64
      ],
      "id": "89441f68-b1e4-44e2-9e8e-c23fd368d169",
      "name": "Update a row",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "nh9o2Fkj6jhRTzlj",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  actions: [\n    {\n      action: $('Switch').item.json.actions[0].action,\n      user_id: $json.user_id\n    }\n  ]\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -16
      ],
      "id": "d0cd3af1-80e9-4e24-8f98-6a386b76fd37",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "errorMessage": "Aqui podemos manejar los errores"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1104,
        176
      ],
      "id": "555d11e3-8395-4bc1-8f8b-3126a0602f71",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Envió de Notificación Sub-Workflow'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Envió de Notificación Sub-Workflow'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Envió de Notificación Sub-Workflow'1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call 'Envió de Notificación Sub-Workflow'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "1hLgMqtzumNf9Cel",
    "timezone": "America/Caracas",
    "timeSavedPerExecution": 1
  },
  "versionId": "e2f70dec-5d79-4893-a3ca-7fa9483a4d08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df728dd38d94f2b333576385c1e21befbc8ae997c8d08f1e1a2b1ada683b998d"
  },
  "id": "G6aIhiSgAo1ISHZD",
  "tags": []
}